:global .monaco-editor .button {
	background-color: inherit;
	border: inherit;
	box-sizing: inherit;
	color: inherit;
	cursor: inherit;
	display: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	outline: inherit;
	padding: inherit;
	text-align: inherit;
	text-decoration: inherit;
	transition: inherit;
	user-select: inherit;
	vertical-align: inherit;
	white-space: inherit;
}

:global .monaco-editor .button {
	list-style-type: inherit;
	font-size: inherit;
	margin-bottom: inherit;
	padding-bottom: inherit;
	padding-top: inherit;
}

.editorWrapper {
	display: inline-block;
	width: 50%;
	height: calc(100vh - var(--ifm-navbar-height));
}

.editor {
	display: inline-block;
}
