---
title: "roblox-ts Packages"
layout: page
---

<section class="content">
  <div>
    <h1>Featured Packages</h1>
    <p>Curated official and community-contributed roblox-ts packages.</p>
  </div>

  <div class="packages-right-corner">
    <a href="/docs/guides/packages">Create your own package</a>
  </div>

  <div class="package-list">
    {% for package in site.data.packages %}
    <div>
      <p class="package-meta">
        <a href="https://npmjs.com/package/{{package.name}}" class="package-title">{{ package.name | replace: "rbx-", "" }}</a>
        <span class="package-author">by <a href="https://github.com/{{package.author}}" class="no-fx">{{package.author}}</a></span>
      </p>
      {% assign tabs = package.tabs | prepend: "info," | default: "" %}
      {% if tabs == "info," %}
        {% assign tabs = "" %}
      {% endif %}
      {% include tabs.html tabs=tabs content=package.description %}
    </div>
    {% endfor %}
  </div>
</section>