{
	"semi": true,
	"trailingComma": "all",
	"singleQuote": false,
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": ["*.json", ".eslintrc"],
			"options": {
				"trailingComma": "none"
			}
		}
	]
}
