html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: $white;
  font-family: Roboto, arial, sans-serif;
  color: #222;
  font-weight: 400;
  font-size: 18px;
}

p {
  line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

h1.major {
  font-size: 3.2rem;
}

a {
  color: $red;
  position: relative;
  // display: inline-block;
  text-decoration: none;
  transition: all .6s ease;

  &:hover{
    color: darken($red, 10%);
  }

  &:before, &:after {
    content: '';
    background: $red;
    position: absolute;
    width: 0;
    height: 2px;
    transition: all .6s ease;
  }

  &:before {
    top: 100%;
    left: 0;
  }

  &:after {
    top: 100%;
    right: 0;
  }

  &:hover:before, &:hover:after {
    width: 100%;
  }
}

.dark a {
  color: #ccc;

  &:before, &:after {
    background: #ccc;
  }
}

header {
  background: $red;
  padding-top: 10px;
  height: $header-height;
  color: white;

  @media screen and (max-width: $break-tablet) {
    height: auto;
  }

  .inner {
    display: grid;
    grid: auto / 1fr 1fr 2fr;
    grid-template-areas: "left none right";

    @media screen and (max-width: $break-pc + 40) {
      grid-template-areas: "left right right";
    }

    @media screen and (max-width: $break-tablet) {
      grid-template-areas: "left left left";
      justify-items: center;
      margin-top: 30px;
    }
    
    a {
      color: inherit;
      text-decoration: none;
    }

    .title {
      grid-area: left;
      white-space: nowrap;

      .logo {
        height: 64px;
        width: 64px;
        // margin-top: 3px;
        vertical-align: -17px;
      }
      
      h1 {
        margin: 0;
        line-height: $header-height;
        font-weight: 300;
        display: inline-block;
      }
    }
  
    ul {
      grid-area: right;
      padding: 0;
      list-style-type: none;
      display: inline-block;
      text-align: right;

      @media screen and (max-width: $break-tablet) {
        display: none;
      }
  
      li {
        display: inline-block;

        a {
          display: inline-block;
          padding: 15px 30px;
          padding-top: 7px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.6);
          transition: none;

          &:hover, &.active {
            // border-width: 2px;
            border-color: rgba(255, 255, 255, 1);
            // padding-bottom: 15px;
          }

          &:hover:before, &:hover:after {
            width: 0;
          }
        }
      }
    }
  }
}

footer {
  padding: 40px 15px;
  background: #eee;
  font-size: 1rem;
  text-align: center;

  .inner {
    position: relative;
  }

  .love {
    position: absolute;
    top: 0;
    display: block;
    
    @media screen and (max-width: $break-tablet) {
      position: static;
      margin-bottom: 20px;
    }
  }

  .copyright {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    text-align: right;
    line-height: 1.6rem;
    
    @media screen and (max-width: $break-tablet) {
      position: static;
      text-align:center;
      margin-bottom: 20px;
    }

    img {
      vertical-align: -20px;
      margin-left: 5px;
    }
  }

  .links ul {
    padding: 0;
    margin-bottom: 60px;
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0 7px;
    }
  }
}

section {
  padding: 100px 0;
}

.dark {
  background: $dark;
  color: $white;
}

.red {
  background: $red;
  color: white;

  a {
    color: $white;
    border-bottom: 1px dashed $white;
    text-decoration: none;

    &:before, &:after {
      background: $white;
    }
  }
}

.inner {
  max-width: $width;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  position: relative;
}

pre {
  tab-size: 4;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

:not(pre) > code {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 0 5px;
  border-radius: 3px;
}

hr {
  height: 1px;
  border: none;
  background: silver;
}

section.content {
  padding-top: 0;

  .inner {
    display: grid;
    grid: 1fr / 1fr 3.5fr;
    grid-template-areas: "left right";
    margin-top: 75px;

    @media screen and (max-width: $break-phone) {
      display: block;
    }

    nav {
      grid-area: left;

      ul {
        list-style-type: none;
        padding-left: 20px;

        li {
          margin-bottom: 10px;

          .active {
            font-weight: bold;
          }
        }
      }
    }

    article {
      grid-area: right;
    }
  }
  
  & > h1:first-of-type {
    background: $red;
    padding: 50px 0;
    text-align: center;
    color: white;
    margin-top: 0;
  }
}

.center {
  text-align: center;
  margin: 0 auto;
}

.pattern {
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}