.code-sample {
  position: relative;
  margin: 0 auto;
  min-height: 250px;

  @media screen and (max-width: $break-phone + 45) {
    margin-bottom: 100px;
  }
  
  & > div {
    top: 20px;
    position: absolute;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: $width / 1.35;
    background: #282c34;
    border-radius: 10px;
    padding: 10px 25px;
    max-width: 80%;
  
    pre {
      margin: 0;
      display: inline-block;
      background: $white;
      width: 100%;
      white-space: pre-wrap;
      word-wrap: break-word;

      code {
        padding: 0;
        overflow: hidden;
      }
    }
  }
}

.points {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media screen and (max-width: $break-pc) {
    flex-direction: column;
  }

  .point {
    margin: 20px;
    max-width: 20%;

    @media screen and (max-width: $break-pc) {
      max-width: 80%;
      margin: 20px auto;
    }

    code {
      display: block;
      // text-align: center;
      font-weight: bold;

      .err {
        position: relative;
        display: inline-block;

        &:before {
          content: "~~~~~~~~~~~~";
          font-size: .6em;
          font-weight: 700;
          font-family: Times New Roman, Serif;
          color: red;
          width: 100%;
          position: absolute;
          top: 14px;
          left: -1px;
          overflow: hidden;
        }

        &.warning {
          &:before {
            color: green;
          }
        }
      }
    }

    h2 {
      // color: black;
      font-weight: 700;
    }

    p {
      
    }
  }
}

.h-points {
  display: flex;
  flex-direction: column;
  align-content: center;

  .point {
    margin: 20px auto;
    max-width: 80%;
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr;
    grid-template-areas: "image desc" "image desc" "image desc";
    justify-items: center;
    align-items: center;
    grid-gap: 40px;
    
    &.img > div:first-of-type {
      text-align: center;

      .point-image {
        max-width: 75%;
      }
    }

    &.small {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $break-pc + 1) {
      &:nth-child(2n) {
        grid-template-areas: "desc image" "desc image" "desc image";
      }
    }
    
    @media screen and (max-width: $break-pc) {
      grid-template-areas: "image image" "image image" "desc desc";
      grid-gap: 0;


      & > div {
        max-width: 90%;
      }
    }

    .point-image {
      width: 100%;
    }

    pre {
      white-space: pre-wrap;
      word-wrap: break-word;

      .hljs {
        background: none;
      }
    }
  }
}