---
layout: page
---
<section class="content">
  <h1>{{ page.title }}</h1>
  <div class="inner">
    <nav>
      <h3>Docs</h3>
      <ul>
      {% assign docs = site.docs | sort: 'order' %}
      {% for doc in docs %}
        {% if page.url == doc.url %}
        <li class="active">{{ doc.title }}</li>
        {% else %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </nav>
    <article>
      {{ content }}
    </article>
  </div>
</section>