---
layout: base
---
<header>
  <div class="inner">
    <a href="/" class="title"><h1><img src="/images/roblox-ts-w-128.png" alt="roblox-ts" class="logo"> roblox-ts</h1></a>

    {% include nav.html %}
  </div>
</header>
<main>
  {{ content }}
</main>
<footer>
  <div class="inner">
    <div class="links">
      {% include nav.html %}
    </div>
    <span class="love">Made with ❤️ in Robloxia.</span>
    <span class="copyright">
      &copy; 2018 roblox-ts<br>Published under the <a href="https://github.com/roblox-ts/roblox-ts/blob/master/LICENSE.md" target="_blank">MIT license</a>.
    </span>
    <div style="clear: both"></div>
    <img src="/images/roblox-ts-128.png" alt="roblox-ts" height="48" width="48">
  </div>
</footer>